.contain-th {
    display: flex;
    flex-wrap: wrap;
    width: 564px;
    height: 295px;
    position: absolute;
    list-style: none;
    border: 1px solid #EEEDEB;
    top: 100%;
    left: -200%;
    padding: 8px;
    border-radius: 5px;
    z-index: 2;
    background: #fff;
    
    li {
        padding: 4px;
        // width: 1 1 calc(25% - 20px);
        height: 140px;
        cursor: pointer;
        

        div {
            position: relative;
            display: flex;
            
            align-items: center;
            
            justify-content: center;

            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(111, 111, 111, 0.36);
                z-index: 1;
                pointer-events: none;
            }
            &:hover{
                border:1px solid #000;
            }
            

            span {
                position: absolute;
                z-index: 1;
                color: #fff;
            }

            img {
                height: 128px;
                @media screen and (max-width: 575.98px) {
                    height: 77px;
                    
                }
            }
        }
        @media screen and (max-width: 575.98px) {
            width: 33%;
            height: auto;
        }
    }

    @media screen and (max-width: 575.98px) {
        left: -50%;
        position: static;
        border: none;
        padding: 0;
        width: 100%;
        height: 170px;
        
    }
}