
.link-ct {
    text-decoration: none;
}

.product {
    border: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    transition: box-shadow 0.3s ease; 

    &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    img {
        width: 100%; 
        max-width: 300px; 
        height: auto;
        margin-bottom: 15px; 
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }

    .price {
        color: #d62e2f;
        font-size: 1.25rem; 
        font-weight: bold;

        span {
            font-size: 1rem; 
        }
    }
}
