.link-ct{
    text-decoration: none;
    text-align: center;
    .product{
        border: none;
        height: 100%;
        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;        }
        img{
            margin: 0 auto;
        }
    .price{
        color: #d62e2f;
        span{
            font-size: 13px;
        }
    }
    }
    
}